/* General layout */
.app-container {
  display: flex;
  height: 100vh;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: FrutigerRoman, Arial, sans-serif;
  background: rgb(40,52,77);
  background: linear-gradient(90deg, rgba(40,52,77,1) 0%, rgba(28,76,76,1) 100%);
}

/* Sidebar styling */
.sidebar {
  width: 80px;
  background-color: #1f1f2e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
}

.AdaaLogo {
  width: 80px;
}

.chat-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Chat window styling */
.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  width: 800px;
  max-width: 800px;
  justify-content: center;
  background-color: #060D1C;

}

/* Chat messages styling */
.chat-messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  direction: rtl; /* Set the direction of chat messages to RTL */
  text-align: right; /* Align the messages to the right */
}

.message {
  padding: 15px;
  border-radius: 20px;
  max-width: 60%;
  margin-bottom: 15px;
  text-align: right; /* Align each message's text to the right */
}

.user-message {
  color: white;
  margin-left: auto;
  font-family: 'FrutigerArabicCE45Light';
  display: flex;
  align-items: center;
}

.user-avatar{
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 15pt;
  color: #33CCCC;
  background-color: #1E3141;
  padding: 5px;
  border-radius: 50px;
  min-width: 30px;
}

.bot-message {
  color: white;
  margin-right: auto;
  font-family: 'FrutigerArabicCE45Light';
  align-items: center;
  display: flex;
}

.ai-avatar{
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 15pt;
  color: #33CCCC;
  background-color: #1E3141;
  padding: 5px;
  border-radius: 50px;
  min-width: 30px;
}

/* Predefined Questions Styling */
.predefined-questions-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 20px;
  flex-grow: 1;
  align-items: center;
}

.predefined-questions-area{
  display: flex;
}

.predefined-question-button {
  margin: 5px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  direction: rtl;
  background-color: #1E3141;
  flex-grow: 1;
  max-width: 25%;
  padding: 1rem;
  font-family: "ITCHandelGothicArabic";
  font-size: 9pt;
}

.predefined-question-button:hover {
  background-color: #1C4C4C;
}

/* Loading animation */
.loading {
  font-style: italic;
}

/* Chat input styling */
.chat-input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  direction: rtl;
  position: relative;
  margin-bottom: 1.5rem; /* Set the input direction to RTL */
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ddd;
  margin: 0 10px;
  text-align: right;
  background-color: #293A48;
  border: none;
  padding: 1rem;
  font-family: 'FrutigerArabicCE45Light';
  color: white;
  padding-right: 30px;
  outline: none;
}

.chat-input input::placeholder {
  color: #60656A;
  font-family: 'FrutigerArabicCE45Light';
}

.chat-input .icon {
  font-size: 20px;
  cursor: pointer;
}

.chat-input .send-msg{
  background-color: #33CCCC;
  position: absolute;
  left: 37px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  cursor: pointer;
  color: white;

}
